{% load static %}
<link rel="stylesheet" href="{% static 'vroum/style.css' %}">

<h1>Détails de la modele</h1>
<ul>
    <li>Nom : {{ Modele.nom }}</li>
    <li>Energie : {{ Modele.energie }}</li>
    <li>Nombre de cheveux : {{ Modele.nombre_chevaux }}</li>
    <li>Type de moteur : {{ Modele.type_moteur }}</li>
    <li>Prix : {{ Modele.prix }}</li>
    <li>Marque : {{ Modele.marque }}</li>

</ul>

<br>
<a href="/vroum/">
    <button type="button">Retour à la liste des modele et marque</button>
</a>