<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bibliothèque</title>
</head>
<body>
    <h1>Liste des livres</h1>
    <a href="/crud/ajout/">Ajouter un livre</a>
    <ul>
        {% for livre in livres %}
            <li>
                <a href="/crud/update/{{livre.id}}/"><button>Modifier</button></a>

                <a href="/crud/delete/{{livre.id}}/" onclick="return confirm('Supprimer ce livre ?')">
                    <button style="color: red;">Supprimer</button>
                </a>

                {{livre}}
            </li>
        {% endfor %}
    </ul>
</body>
</html>