<!DOCTYPE html>
<html lang="fr">
<head>

    {% load static %}
<link rel="stylesheet" href="{% static 'vroum/style.css' %}">
    <meta charset="UTF-8">
    <title>Marque</title>
</head>
<body>
    <h1>Liste des marques</h1>
    <a href="/vroum/marque/ajout/">Ajouter une marque</a>
    <ul>
        {% for marque in Marque %}
            <li>
                <a href="/vroum/marque/update/{{marque.id}}/"><button>Modifier</button></a>

                <a href="/vroum/marque/delete/{{marque.id}}/" onclick="return confirm('Supprimer cette marque ?')">
                    <button style="color: red;">Supprimer</button>
                </a>

                {{marque}}
            </li>
        {% endfor %}
    </ul>
</body>
</html>