<!-- héritage du contenu du gabarit squelette main.hml -->
{% extends "myfirstapp/main.html" %} <!-- si le gabarit n'est pas dans templates mais dans le
répertoire templates/myfirstapp/, il faudra ajouter le chemin d'accès avant le nom
du fichier donc extends "myfirstapp/main.html" -->
<!-- définition de ce que contiendra la balise title du head -->
{% block title %}
    Mon formulaire
{% endblock %}
{% block content %}
    <!-- les champs de formulaires -->
    {{block.super}}
    <form action="/myfirstapp/bonjour" method="get" />
        {% csrf_token %}
            <label for="nom">Nom : </label>
            <input type="text" name="nom" id="nom">

            <label for="prenom">Prenom : </label>
            <input type="text" name="prenom" id="prenom">
            <br>
            <input type="submit" value="Envoyer">
    </form>

{% endblock %}